/* Colors Used

Text Color (Dark Gray): #2b2b2b;
Primary Color (Purple): #357b70;
Secondary Color (Orange): #e0b354;
*/
:root {
  --primary-color: #202840;
  --secundary-color: #F2E7AE;
  --dark-gray: #F2E7AE;
  --visited-links: #202840;
  --active-links: #489c79;
  --white: #fff;
  --lightgray: #f9a637;
  --font-weight-400: 400;
  --font-weight-700: 700;
}

* {
  box-sizing: border-box;
}
.mySlides {display: none}

body {
  font-family: 'Lato', sans-serif;
  font-weight: var(--font-weight-400);
  font-size: var(--font-weight-400);
  line-height: 1.6;
  background-color: #6EC5E9;
}

h1 {
  font-size: 30px;
  font-weight: var(--font-weight-700);
}

h2 {
  font-size: 24px;
  font-weight: var(--font-weight-700);
}

h3 {
  font-size: 18px;
  font-weight: var(--font-weight-700);
}

a {
  color: var(--primary-color);
}

a:visited {
  /* visited link */
  color: var(--visited-links);
}

a:hover,
a:focus {
  /* No decoration when hovering over a link */
  text-decoration: none;
}

a:active {
  /* selected link */
  color: var(--active-links);
}

button,
.button {
  /* overwrites browser defaults and resets the border */
  border: none;

  /* takes the font from the outer container */
  font-family: inherit;

  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: #FF5959;
  color: var(--white);
  text-decoration: none;

  /* adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  border-radius: 3px;

  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;
}

.home_button {
  border-radius: 7px;
  padding: 30px 50px;
  color: white;
}

a.home_button {
  color: white;
}

a.home_button:visited {
  color: white;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;

  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

.button_secondary {
  background-color: var(--secundary-color);
  color: var(--dark-gray);
}

/* Header */
.page-header {
  display: flex;
  width: 100%;
  line-height: 35px;
  background-color: white;
  align-items: center;
}

.page-header--logo {
  margin-left: 20px;
  text-decoration: none;
  font-size: 30px;
  font-weight: bolder;
}

.navegation-list {
  list-style-type: none;
}

.navegation-list li {
  display: inline-block;
  margin-left: 15px;
}

.page_header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
  margin-right: 20px;
}

.navigation-list__item--active {
  text-decoration: none;
}

/* Profile */
.profile {
  max-width: 700px;
  margin: 0 auto;
}

.profile_portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile h1 {
  color: black;
}

.profile p {
  color: black;
  margin-bottom: 50px;
}

.page_footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: black;
  color: white;
}

.home_work {
  clear: both;
  background-color: white;
}

.home_work h1 {
  margin: 0;
  text-align: center;
}

.a-work {
  color: var(--white);
  text-decoration: none;
}

.a-work:visited {
  color: var(--white);
}

.work-s {
  font-weight: bolder;
  color: var(--primary-color);
}

/* Grid fallback */
.grid__item {
  display: inline-block;
  width: 33%;
}

/* Styling CSS grid */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid__item {
  background-color: var(--lightgray);
  padding: 10px;
  color: white;

  /* Set width to auto */
  width: auto;
}

.grid__item:last-child {
  grid-column: 3 / 3;
  grid-row: 1 / 3;
}

/* About */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-svg {
  width: 750px;
  margin: 0 auto;
}

.about-a {
  display: flex;
  justify-content: center;
}

.about-list {
  list-style-type: none;
  margin-bottom: 10px;
  padding: 0;
}

.contact {
  margin: 0 auto;
}

.contact form {
  display: flex;
  flex-direction: column;
}

.contact-button {
  text-align: center;
}

.contact_footer {
  bottom: 0;
  position: fixed;
  width: 100%;
}

/* ChatApp */

/* Slide Show */
.slideshow-container_desktop {
  max-width: 600px;
  position: relative;
  margin: auto;
}
.slideshow-container {
  max-width: 300px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot_container {
  text-align: center;
  margin-bottom: 20px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.description-chat {
  display: flex ;
  flex-wrap: wrap;
  justify-content: center;
}

.description-p {
  width: 70%;
  text-align: center;
}

.btn-chat {
  text-align: center;
  margin-bottom: 20px;
}

@media all and (max-width: 500px) {
  .page-header--logo{
    text-align: center;
  }
  .grid {
    grid-template-columns: 1fr;
  }

  .about-svg {
    width: 350px;
  }

  .prev, .next, .text {
    font-size: 11px;
  }
}

.contact {
  text-align: center;
  max-width: 700px;
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  /* shared code */
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }

  .page-header img {
    width: 250px;
    margin: 0 auto;
  }

  .page-header {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 0;
  }

  .page-header__item:last-child {
    flex-grow: 0;
    text-align: left;
  }

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile_portrait {
    margin: 10px 0;
  }

  .about-svg {
    width: 300px;
  }
}

@keyframes color-change {
  0% {
    fill: #06baff;
  }

  50% {
    fill: #005474;
  }

  100% {
    fill: #000;
  }
}

.background {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(600px, 50px);
  }
}

.cloud {
  animation: 15s cloud-move infinite alternate linear;
}
